<div>
    <VoteModal :carVotingDetail="voting" :managerResponseId="managerResponseId" :isOpen="isOpen" @saved="requestSaved" @error="requestError" @closed="requestModalClosed"></VoteModal>
    <div class="grid grid-cols-2 gap-4 m-4">
        <div>
            <strong>{{$t("voting.pendingCaption")}}</strong>
            <table class="table">
                <thead class="text-sm">
                    <th>{{$t("carRequest.date")}}</th>
                    <th>{{$t("carRequest.employeeName")}}</th>
                    <th>{{$t("carRequest.details")}}</th>
                    <th>{{$t("voting.totalVotes")}}</th>
                    <th>{{$t("voting.obtainedVotes")}}</th>
                    <th></th>
                  
                </thead>
                <tbody>
                    <tr class="text-sm" v-for="pending in votingIncomple" :key="pending.id">
                        <td>{{uq(pending?.carRequest?.requestDate).format('yyyy/MM/dd')}}</td>
                        <td>{{pending?.carRequest?.beneficiary?.name}}</td>
                        <td>{{pending?.carRequest?.requestDetail}}</td>
                        <td>{{pending.totalVotesCount}}</td>
                        <td>{{pending.totalVotesObtained}}</td>
                        <td>
                            <button :class="requestStatusStyle(pending)" @click.prevent="votingClicked(pending)">
                                {{$t("voting.vote")}}
                            </button>
                          </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Completed -->
        <div>
            <strong>{{$t("voting.completedCaption")}}</strong>
            <table class="table">
                <thead class="text-sm">
                    <th>{{$t("carRequest.date")}}</th>
                    <th>{{$t("carRequest.employeeName")}}</th>
                    <th>{{$t("carRequest.details")}}</th>
                    <th>{{$t("voting.totalVotes")}}</th>
                    <th>{{$t("voting.obtainedVotes")}}</th>
                    <th></th>
                  
                </thead>
                <tbody>
                    <tr class="text-sm" v-for="pending in votingCompleted" :key="pending.id">
                        <td>{{uq(pending?.carRequest?.requestDate).format('yyyy/MM/dd')}}</td>
                        <td>{{pending?.carRequest?.beneficiary?.name}}</td>
                        <td>{{pending?.carRequest?.requestDetail}}</td>
                        <td>{{pending.totalVotesCount}}</td>
                        <td>{{pending.totalVotesObtained}}</td>
                        <td>
                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    
</div>