<Dialog 
:isOpen="isOpen" 
@closeModal="toggleModal"
>

<!-- Dialog Header -->
<template #header>
    <button @click="toggleModal">X</button>
  <h2 class="font-bold text-lg text-center">{{$t("voting.title")}}</h2>

</template>

<!-- Dialog Content -->
<template #content>
    <div>
        <table class="table">
            <thead>
                <th>{{$t("voting.memberType")}}</th>
                <th>{{$t("voting.voteCount")}}</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{authUser?.carBoardMember?.boardMemberType?.name}}</td>
                    <td>{{authUser?.carBoardMember?.boardMemberType?.voteCount}}</td>
                </tr>
            </tbody>
        </table>
      
        <Form @submit="onSubmit" :validation-schema="schema" v-slot="{ errors, isSubmitting }">
            <div class="form-group">
                <label class="bg-teal-600 w-full text-center font-bold text-lg text-white">{{$t("voting.selectionTitle")}}</label>
                <!-- <div class="h-56 grid grid-cols-2 gap-0 content-center">
                    <div v-for="t in carsStore.responseTypes" :key="t.id">
                        <Field name="responseTypeId"  type="radio" :checked="t.id === carVotingDetail.responseTypeId" v-model="carVotingDetail.responseTypeId" :value="t.id" />
                        {{ t.name }}
                    </div>
                   
                  </div> -->
                <table class="table">
                    <tr class="">
                    <td class="content-center" v-for="t in carsStore.responseTypes" :key="t.id"> 
                        
                        <Field name="responseTypeId"  type="radio" :checked="t.id === carVotingDetail.responseTypeId" v-model="carVotingDetail.responseTypeId" :value="t.id" />
                        {{ t.name }}
                    </td>
                </tr>
                </table>
                    <ErrorMessage name="responseTypeId" />
               
            </div>            
            <div class="form-group">
                <label>{{ $t("voting.notes") }}</label>
                <Field name="notes" :value="props?.carVotingDetail?.notes ?? ''" type="text" class="form-control" :class="{ 'is-invalid': errors.notes }" />
                <div class="invalid-feedback">{{errors.notes}}</div>
            </div>            
            <div class="form-group">
                <button class="btn btn-primary" :disabled="isSubmitting">
                    <span v-show="isSubmitting" class="spinner-border spinner-border-sm mr-1"></span>
                    {{ $t("voting.save") }}
                </button>
            </div>
            <div v-if="errors?.apiError" class="alert alert-danger mt-3 mb-0">{{errors?.apiError?.Title}}</div>
            <!--  -->
        </Form>
    </div>
<!-- <CarRequest @saved="requestSaved" @error="requestError"></CarRequest> -->
</template>

<!-- Dialog Footer -->
<template #footer>
  <div class="text-center space-x-4">
    <!-- <Button @click="toggleModal">Close</Button> -->
   
  </div>
  <div v-if="apiError" class="alert alert-danger mt-3 mb-0">{{apiError?.Title}}</div>
  <!--  -->
</template>

</Dialog>