<div class="grid grid-cols-2 gap-4 m-4">
<div>
    <img src="@/assets/img/logo.png" class="w-full" alt="">
</div>
<div class="container mx-auto py-40">
    <h1 class="text-2xl font-semibold mb-4"> {{ $t("login.login") }}</h1>
<Form @submit="onSubmit" :validation-schema="schema" v-slot="{ errors, isSubmitting }">
            <div class="form-group">
                <label>{{ $t("login.username") }}</label>
                <Field name="username" type="text" class="form-control" :class="{ 'is-invalid': errors.username }" />
                <div class="invalid-feedback">{{errors.username}}</div>
            </div>            
            <div class="form-group">
                <label>{{ $t("login.password") }}</label>
                <Field name="password" type="password" class="form-control" :class="{ 'is-invalid': errors.password }" />
                <div class="invalid-feedback">{{errors.password}}</div>
            </div>            
            <div class="form-group">
                <button class="btn btn-primary" :disabled="isSubmitting">
                    <span v-show="isSubmitting" class="spinner-border spinner-border-sm mr-1"></span>
                    {{ $t("login.login") }}
                </button>
            </div>
            <div v-if="errors.apiError" class="alert alert-danger mt-3 mb-0">{{errors.apiError.Title}}</div>
        </Form>
</div>
</div>