<section class="bg-gray-50 min-h-screen flex items-center justify-center">
    <!-- login container -->
    <div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5 items-center">
      <!-- form -->
      <div class="md:w-1/2 px-8 md:px-16">
        <h2 class="font-bold text-2xl text-[#002D74]">{{$t("login.login")}}</h2>
  
        <Form @submit="onSubmit" :validation-schema="schema" v-slot="{ errors, isSubmitting }" class="flex flex-col gap-4">
          <div class="relative">
          <Field name="username" class="p-2 mt-8 rounded-xl border w-full" type="text" :placeholder="$t('login.username')" />
          <div v-if="errors.username" class="text-sm text-red-600">{{errors.username}}</div>
          </div>
          <div class="relative">
            <Field name="password" class="p-2 rounded-xl border w-full" type="password" :placeholder="$t('login.password')" />
            <div v-if="errors" class="text-sm text-red-600">{{errors.password}}</div>
           
          </div>
          <button type="submit" :disabled="isSubmitting" class="bg-[#002D74] rounded-xl text-white py-2 hover:scale-105 duration-300">
            <span v-show="isSubmitting" class="spinner-border spinner-border-sm mr-1"></span>
            {{ $t("login.login") }}
          </button>
          <div v-if="errors.apiError" class="alert alert-danger mt-3 mb-0">{{errors.apiError}}</div>
        </Form>
  
        <!-- <div class="mt-6 grid grid-cols-3 items-center text-gray-400">
          <hr class="border-gray-400">
          <p class="text-center text-sm">OR</p>
          <hr class="border-gray-400">
        </div> -->
  
      
      </div>
  
      <!-- image -->
      <div class="md:block hidden w-1/2">
        <img class="rounded-2xl" src="@/assets/img/logo.png">
      </div>
    </div>
  </section>