<Dialog 
:isOpen="isOpen" 
@closeModal="toggleModal"
>

<!-- Dialog Header -->
<template #header>
    <button @click="toggleModal">X</button>
    <div v-show="myAlert.visible" role="alert">
      <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
        {{myAlert.title}}
      </div>
      <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
        <p>{{myAlert.text}}</p>
      </div>
    </div>
  <h2 class="font-bold text-lg text-center">{{$t("decision.decisionModalCaption")}}</h2>
  <div>
  
    <Form @submit="onSubmit" :validation-schema="schema" v-slot="{ errors, isSubmitting }">
        <div class="form-group flex justify-center items-center">
                <table class="table">
                    <tr class="flex justify-center items-center">
                    <td v-for="t in carsStore.responseTypes" :key="t.id"> 
                        
                        <Field  name="responseTypeId"  type="radio" :checked="t.id === decision.responseTypeId" v-model="decision.responseTypeId" :value="t.id" />
                        {{ t.name }}
                    </td>
                </tr>
                </table>
                <ErrorMessage class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700" name="responseTypeId" />
           
        </div>        
       <strong class="flex items-center justify-center">{{$t("cars.carDetails")}}: {{selectedCar?.name}} - {{selectedCar?.model}} - {{selectedCar?.numberPlate}}</strong>    
       <div class="flex">
        <Field name="notes" :value="props.decision.notes" type="text" class="form-control" :class="{ 'is-invalid': errors.notes }" :placeholder="$t('voting.notes')" />
        <button class="btn btn-primary disabled:bg-gray-200 my-3" :disabled="isSubmitting">
          <span v-show="isSubmitting" class="spinner-border spinner-border-sm mr-1"></span>
          {{ $t("carRequest.save") }}
      </button>
       </div>
 
       
        <div v-if="errors?.apiError" class="alert alert-danger mt-3 mb-0">{{errors?.apiError?.Title}}</div>
        <!--  -->
    </Form>
</div>
<select v-model="selectedCarType">
  <option  value=0>{{$t("decision.allCars")}}</option>
  <option v-for="t in carTypes" :key="t.id" :value="t.id">{{t.name}}</option>
</select>
<input type="text" v-model="carModel" :placeholder="$t('decision.carModel')">

<input type="text" v-model="numberPlate" :placeholder="$t('decision.numberPlate')">
</template>

<!-- Dialog Content -->
<template #content>
    <div>
        <div>
          
            <table class="table text-sm">
                <thead>
                  <th>#</th>
                  <th>{{$t("cars.carName")}}</th>
                  <th>{{$t("cars.model")}}</th>
                  <th>{{$t("cars.numberPlate")}}</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr v-for="(car,index) in getCars" :key="car.id">
                    <td>{{index+1}}</td>
                    <td>{{ car?.category?.name }}</td>
                    <td>{{ car?.model }}</td>
                    <td>{{ car?.numberPlate }}</td>
                    <td><button @click.prevent="selectCar(car)">{{$t("decision.select")}}</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
        
    </div>
</template>

<!-- Dialog Footer -->
<template #footer>
  <div class="text-center space-x-4">
   
  </div>
  <div v-if="apiError" class="alert alert-danger mt-3 mb-0">{{apiError?.Title}}</div>
  <!--  -->
</template>

</Dialog>