<FinalDecisionModal 
:decision="selectedDecision" 
:isOpen="decisionModalOpen" 
@saved="decisionSaved" 
@error="decisionModaltError" 
@closed="decisionModalClosed" />

<div class="grid grid-cols-1 gap-4 m-4">
  <!-- Completed -->
  <div>
    <strong>{{$t("voting.completedCaption")}}</strong>
    <table class="table">
        <thead class="text-sm">
            <th>{{$t("carRequest.date")}}</th>
            <th>{{$t("carRequest.employeeName")}}</th>
            <th>{{$t("carRequest.details")}}</th>
            <th>{{$t("voting.totalVotes")}}</th>
            <th>{{$t("voting.obtainedVotes")}}</th>
            <th></th>
          
        </thead>
        <tbody>
            <tr class="text-sm" v-for="pending in votingCompleted" :key="pending.id">
                <td>{{uq(pending?.carRequest?.requestDate).format('yyyy/MM/dd')}}</td>
                <td>{{pending?.carRequest?.beneficiary?.name}}</td>
                <td>{{pending?.carRequest?.requestDetail}}</td>
                <td>{{pending.totalVotesCount}}</td>
                <td>{{pending.totalVotesObtained}}</td>
                <td>
                   <button v-if="pending.hasFinalDecision" @click.prevent="newDecisionClicked(pending)">New Decision</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <strong>{{$t("decision.decisionsListCaption")}}</strong>
    <table class="table">
        <thead class="text-sm">
            <th>{{$t("decision.date")}}</th>
            <th>{{$t("decision.employee")}}</th>
            <th>{{$t("decision.status")}}</th>
            <th>{{$t("cars.carType")}}</th>
            <th>{{$t("cars.carName")}}</th>
            <th>{{$t("cars.model")}}</th>
            <th>{{$t("cars.numberPlate")}}</th>
            <th></th>
          
        </thead>
        <tbody>
            <tr class="text-sm" v-for="dec in carsFinalDecisions" :key="dec.id">
                <td>{{uq(dec?.decisionDate).format('yyyy/MM/dd')}}</td>
                <td>{{dec?.beneficiary?.name}}</td>
                <td>{{dec?.responseType?.name}}</td>
                <td>{{dec.car?.carType.name}}</td>
                <td>{{dec.car?.category?.name}}</td>
                <td>{{dec.car?.model}}</td>
                <td>{{dec.car?.numberPlate}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>