
<!-- Use Dialog Component -->
<!-- <Modal
:modalActive="isOpen"
@close-modal="toggleModal">
<pre>{{authUser}}</pre>
</Modal> -->
<ManagerResponse :carManagerResponse="carManagerResponse" :requestId="requestId" :isOpen="isOpen2" @saved="requestSaved2" @error="requestError2" @closed="requestModalClosed2"></ManagerResponse>

<div class="grid grid-cols-3 gap-4 m-4">
<div>
  <p class="text-2xl p-3">{{ authUser.name }}</p>
  <div class="flex justify-between">
    <div><strong>{{$t("cars.cars")}}</strong></div>
    <div>
      <CarRequest :isOpen="isOpen" @saved="requestSaved" @error="requestError" @closed="requestModalClosed"></CarRequest>
      <a class="text-sm" @click="isOpen=true">{{$t("cars.request")}}</a>
    </div>


  </div>
  
  
  
  <table class="table text-sm">
    <thead>
      <th>{{$t("cars.carName")}}</th>
      <th>{{$t("cars.model")}}</th>
      <th>{{$t("cars.numberPlate")}}</th>
      <th>{{$t("cars.date")}}</th>
    </thead>
    <tbody>
      <tr v-for="delivery in authUser.carDeliveries" :key="delivery.id">
        <td>{{ delivery?.car?.category?.name }}</td>
        <td>{{ delivery?.car?.model }}</td>
        <td>{{ delivery?.car?.numberPlate }}</td>
        <td>{{uq(delivery?.deliveryDate).format('yyyy/MM/dd')}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Subordinates: -->
<div>
  <strong>{{$t("cars.subordinates")}}</strong>
  <ul class="text-lg font-Aljazeera">
    <li v-for="emp in authUser.subordinates" :key="emp.id">
        <div v-if="emp.carDeliveries?.length">
          <button @click="emp.collapsed=!emp.collapsed">
            {{emp.collapsed ? '⏪' : '🚘'}}
        </button>
            {{ emp.name }}
           
            <table class="table text-sm" v-show="emp.collapsed">
      <thead>
        <th>{{$t("cars.carName")}}</th>
        <th>{{$t("cars.model")}}</th>
        <th>{{$t("cars.numberPlate")}}</th>
        <th>{{$t("cars.date")}}</th>
      </thead>
      <tbody>
        <tr v-for="delivery in emp.carDeliveries" :key="delivery.id">
          <td>{{ delivery?.car?.category?.name }}</td>
          <td>{{ delivery?.car?.model }}</td>
          <td>{{ delivery?.car?.numberPlate }}</td>
          <td>{{uq(delivery?.deliveryDate).format('yyyy/MM/dd')}}</td>
        </tr>
      </tbody>
    </table>
        </div>
        <div v-else>
            {{ emp.name }}
        </div>
    </li>
</ul>
<!-- Subordinate requests: -->
<div class="my-8">
  <strong>{{$t("carRequest.subordinateRequests")}}:</strong>
  <ul>
   <li v-for="emp in subordinateCarRequests" :key="emp.id">
     {{emp.name}}
     <table class="table text-sm">
       <thead>
         <th>{{$t("carRequest.date")}}</th>
         <th>{{$t("carRequest.details")}}</th>
         <th>{{$t("carRequest.approvalStatus")}}</th>
       </thead>
       <tbody>
         <tr v-for="request in emp.carRequests" :key="request.id">
           <td>{{ uq(request.requestDate).format('yyyy/MM/dd') }}</td>
           <td>{{ request.requestDetail }}</td>
           <td>
             <!-- (event) => warn('Form cannot be submitted yet.', event) -->
             <button :class="requestStatusStyle(request)" @click.prevent="approveClicked(request)">
                {{getRequestCaption(request)}}
             </button>
           </td>
         </tr>
       </tbody>
     </table>
   </li>
  </ul>
</div>

</div>
<div>
  <h3>{{$t("carRequest.carRequestsList")}}</h3>
  
 <table class="table text-sm">
  <thead>
    <th>{{$t("carRequest.date")}}</th>
    <th>{{$t("carRequest.details")}}</th>
    <th>{{$t("carRequest.approvalStatus")}}</th>
  </thead>
  <tbody>
    <tr v-for="r in carRequests" :key="r.id">
      <td>{{uq(r.requestDate).format('yyyy/MM/dd')}}</td>
      <td>{{r.requestDetail}}</td>
      <td> <label :class="requestStatusStyle(r)"> {{getRequestCaption(r)}}</label></td>
    </tr>
  </tbody>
 </table>
</div>
</div>
