
<!-- Use Dialog Component -->
<!-- <Modal
:modalActive="isOpen"
@close-modal="toggleModal">
<pre>{{authUser}}</pre>
</Modal> -->
<Dialog 
:open="isOpen" 
@close="toggleModal"
>

<!-- Dialog Header -->
<template #header>
  <h2 class="font-bold text-lg text-center">Dialog Title</h2>
</template>

<!-- Dialog Content -->
<template #content>
 <pre>{{authUser}}</pre>
</template>

<!-- Dialog Footer -->
<template #footer>
  <div class="text-center space-x-4">
    <Button @click="toggleModal">Close</Button>
  </div>
</template>

</Dialog>
<Button @click="toggleModal">Primary Button</Button>

<div class="container font-cairo">
    <h1 class="item">
        <p class="text-2xl p-3">{{ authUser.name }}</p>
        <table class="table">
            <thead>
              <th>{{$t("cars.carName")}}</th>
              <th>{{$t("cars.model")}}</th>
              <th>{{$t("cars.numberPlate")}}</th>
              <th>{{$t("cars.date")}}</th>
            </thead>
            <tbody>
              <tr v-for="delivery in authUser.deliveries" :key="delivery.id">
                <td>{{ delivery?.car?.category?.name }}</td>
                <td>{{ delivery?.car?.model }}</td>
                <td>{{ delivery?.car?.numberPlate }}</td>
                <td>{{uq(delivery?.deliveryDate).format('yyyy/MM/dd')}}</td>
              </tr>
            </tbody>
          </table>
    </h1>
    <div class="item content">
      <h3>{{$t("cars.subordinates")}}</h3>
        <aside v-if="authUser.subordinates.length" class=" p-4">
            <ul>
                <li v-for="emp in authUser.subordinates" :key="emp.id">
                    <div v-if="emp.deliveries?.length">
                      <button @click="emp.collapsed=!emp.collapsed">
                        {{emp.collapsed ? '⏪' : '🚘'}}
                    </button>
                        {{ emp.name }}
                       
                        <table class="table" v-show="emp.collapsed">
                  <thead>
                    <th>{{$t("cars.carName")}}</th>
                    <th>{{$t("cars.model")}}</th>
                    <th>{{$t("cars.numberPlate")}}</th>
                    <th>{{$t("cars.date")}}</th>
                  </thead>
                  <tbody>
                    <tr v-for="delivery in emp.deliveries" :key="delivery.id">
                      <td>{{ delivery?.car?.category?.name }}</td>
                      <td>{{ delivery?.car?.model }}</td>
                      <td>{{ delivery?.car?.numberPlate }}</td>
                      <td>{{uq(delivery?.deliveryDate).format('yyyy/MM/dd')}}</td>
                    </tr>
                  </tbody>
                </table>
                    </div>
                    <div v-else>
                        {{ emp.name }}
                    </div>
                </li>
            </ul>
            </aside>
    </div>
    <div class="item ingredients">
      <h1>Requests</h1>
    </div>
    <ul class="sponsors">
     
    </ul>
  </div>