<Dialog 
:isOpen="isOpen" 
@closeModal="toggleModal"
>

<!-- Dialog Header -->
<template #header>
    <button @click="toggleModal">X</button>
  <h2 class="font-bold text-lg text-center">{{$t("cars.request")}}</h2>
</template>

<!-- Dialog Content -->
<template #content>
    <div>
        <div v-if="beenVoted"><strong class="text-red-500">{{$t("carRequest.disableManagerResponse")}}</strong></div>
        <Form @submit="onSubmit" :validation-schema="schema" v-slot="{ errors, isSubmitting }">
            <div class="form-group">
                <label>{{ $t("carRequest.details") }}</label>
               
                  <!-- <Field name="responseTypeId" as="select" class="form-control" >
                    <option value="">
                        Select an Item
                    </option>
                    <option v-for="t in carsStore.responseTypes" :key="t.id" :value="t.id" :selected="selectedItem && selectedItem.id==t.id">
                        {{t.name}}
                    </option>
                </Field> -->
                
                    <table class="table">
                        <tr>
                        <td v-for="t in carsStore.responseTypes" :key="t.id"> 
                            
                            <Field disabled="beenVoted" class="disabled:opacity-75" name="responseTypeId"  type="radio" :checked="t.id === carManagerResponse.responseTypeId" v-model="carManagerResponse.responseTypeId" :value="t.id" />
                            {{ t.name }}
                        </td>
                    </tr>
                    </table>
                    <ErrorMessage name="responseTypeId" />
               
            </div>            
            <div class="form-group">
                <label>{{ $t("carRequest.notes") }}</label>
                <Field disabled="beenVoted" name="notes" :value="props.carManagerResponse.notes" type="text" class="form-control" :class="{ 'is-invalid': errors.notes }" />
                <div class="invalid-feedback">{{errors.notes}}</div>
            </div>            
            <div class="form-group">
                <button class="btn btn-primary disabled:bg-gray-200 my-3" :disabled="isSubmitting || beenVoted">
                    <span v-show="isSubmitting" class="spinner-border spinner-border-sm mr-1"></span>
                    {{ $t("carRequest.save") }}
                </button>
            </div>
            <div v-if="errors?.apiError" class="alert alert-danger mt-3 mb-0">{{errors?.apiError?.Title}}</div>
            <!--  -->
        </Form>
    </div>
<!-- <CarRequest @saved="requestSaved" @error="requestError"></CarRequest> -->
</template>

<!-- Dialog Footer -->
<template #footer>
  <div class="text-center space-x-4">
    <!-- <Button @click="toggleModal">Close</Button> -->
   
  </div>
  <div v-if="apiError" class="alert alert-danger mt-3 mb-0">{{apiError?.Title}}</div>
  <!--  -->
</template>

</Dialog>